body {
  background: #bfc6c8;
  color: #333;
  line-height: 1.5;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 8%;
  gap: 40px;
}

.hero-text {
  max-width: 600px;
}

.hero-text h1 {
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 18px; 
  color: #444;
  margin-bottom: 35px;
  line-height: 1.6;
  max-width: 520px; 
}

.btn {
  display: inline-block;
  background: #1a1a1a;
  color: #fff;
  padding: 12px 32px; 
  border-radius: 50px; 
  border: none;
  font-weight: bold;
  font-size: 16px; 
  text-decoration: none;
}

.images .img2 {
  max-width: 740px; 
  object-fit: cover;
}


.image-left .img1 {
  max-width: 400px;
  object-fit: cover;
  margin-left: 8%;
  margin-top: 40px;
}


.stats-box {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 40px;
  backdrop-filter: blur(10px);
  padding: 40px 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
  max-width: 500px;
  margin: -357px auto 700px auto;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    transform: translateX(160px);
}

.stat {
  flex: 1;
  text-align: left;
}

.stat h2 {
  font-size: 28px; 
  font-weight: bold;
  margin-bottom: 15px;
}

.stat p {
  font-size: 15px; 
  color: #333;
  line-height: 1.6;
}

